@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/* Rénitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Kalam';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
}

/* Header - NavBar */
header {
    background-color: black;
    box-shadow: 0px 5px 8px 5px rgba(255,255,255,0.4);
    border-radius: 0 0 20px 20px;
    border: 2px solid gray;
    color: #fff;
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style du logo */
.logo img {
    width: 200px;
}

.title {
    font-weight: 900;
    font-size: 30px;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.nav-ul li {
    margin: 10px;
}

.nav-ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 18px;
}

.nav-ul li a:hover {
    color: #ffd700;
}

/* MAIN */
.main {
    color: #fff;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

main > h2 {
    text-align: left;
    width: 100%;
    max-width: 20vw;
    margin-left: -35%;
    font-size: 35px;
    font-weight: 900;
    color: red;
}

main > p {
    width: 100%;
    height: auto;
    max-width: 50vw;
    text-align: center;
}

main > a {
    color: #fff;
    border: #fff solid 3px;
    border-radius: 20px;
    background-color: cadetblue;
    padding: 10px;
    margin: 50px 0 30px;
}

.container-gif-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

main > .img-home {
    width: 100%;
    height: auto;
    max-width: 15vw;
    display: block;
    margin: 0 auto;
}

.back-gif-main {
    background-image: url("./assets/damier.jpg");
    background-size: cover;
    background-position: center;
}

.back-gif-main.right {
    width: 100%;
    height: auto;
    max-width: 100vw;
    display: block;
    margin: 0 auto;
    background-size: 350%;
    background-repeat: no-repeat;
}

.back-gif-main.left {
    transform: scaleX(-1);
    width: 100%;
    height: auto;
    max-width: 100vw;
    display: block;
    margin: 0 auto;
    background-size: 350%;
    background-repeat: no-repeat;
}

.img-presentation {
   width: 250vw;
   height: auto;
}

/* Style pour le footer */
footer {
    background-color: black;
    box-shadow: 0px -5px 8px 5px rgba(255,255,255,0.4);
    border-radius: 20px 20px 0 0;
    border: 2px solid gray;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    margin: 10px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover {
    color: #ffcc00;
}

::-webkit-scrollbar {
    display: none;
}