/* Import de la police 'Kalam' via Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

/* Rénitialisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Kalam";
  color: #fff;
}
/* ------------------- DÉBUT DE LA BASE ------------------- */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
}
/* Flèche ↑ pour retour haut de page */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  transition: display 0.5s;
}
.scroll-to-top:hover {
  background-color: rgba(255, 255, 255, 0.333);
  color: black;
}
/* Header - NavBar */
header {
  background-color: black;
  box-shadow: 0px 5px 8px 5px rgba(255, 255, 255, 0.4);
  border-radius: 0 0 20px 20px;
  border: 2px solid gray;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 75px;
}
/* Style du logo */
.logo img {
  width: 200px;
}
.title {
  font-weight: 900;
  font-size: 1.8vw;
  text-shadow: 0px 17px 16px #ce0000;
}
.nav-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.nav-ul li {
  margin: 10px;
}
.nav-ul li a {
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;
}
.nav-ul li a:hover {
  color: red;
}
/* Style pour le footer */
footer {
  background-color: black;
  box-shadow: 0px -5px 8px 5px rgba(255, 255, 255, 0.4);
  border-radius: 20px 20px 0 0;
  border: 2px solid gray;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer p {
  margin: 10px 0;
}
.reseaux-sociaux {
  display: flex;
  align-items: center;
}
.reseau-social i {
  padding: 0 10px 0 10px;
  color: #35363a;
}
.reseau-social:hover {
  transform: scale(1.5);
}
::-webkit-scrollbar {
  display: none;
}
/* ------------------- FIN DE LA BASE ------------------- */

/* ---------------- DÉBUT PAGE INDEX --------------- */
.main-index {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.title-page-h2 {
  font-weight: 900;
  font-size: 4vw;
  margin-bottom: 50px;
}
.main-index > h3 {
  text-align: left;
  width: 100%;
  max-width: 20vw;
  margin-left: -35%;
  font-size: 35px;
  font-weight: 900;
  color: red;
  margin-top: 50px;
}
.main-index > p {
  width: 100%;
  height: auto;
  max-width: 50vw;
  font-size: 20px;
  text-align: center;
}
.btn-main {
  appearance: none;
  background-color: #2828af;
  border-radius: 40em;
  border-style: none;
  box-shadow: #00008b64 0 -12px 6px inset;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 50px 0 30px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-main:hover {
  background-color: #00008b64;
  box-shadow: #2828af 0 -6px 8px inset;
  transform: scale(1.125);
}
.btn-main:active {
  transform: scale(1.025);
}
@media (min-width: 768px) {
  .btn-main {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
.container-gif-main-index {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.main-index > .gif-main-bas-index {
  width: 100%;
  height: auto;
  max-width: 15vw;
  display: block;
  margin: 0 auto;
}
.damier-main-index {
  background-image: url("./assets/damier.jpg");
  background-size: cover;
  background-position: center;
}
.damier-main-index.right-damier-index {
  width: 100%;
  height: auto;
  max-width: 100vw;
  display: block;
  margin: 0 auto;
  background-size: 350%;
  background-repeat: no-repeat;
}

.damier-main-index.left-damier-index {
  transform: scaleX(-1);
  width: 100%;
  height: auto;
  max-width: 100vw;
  display: block;
  margin: 0 auto;
  background-size: 350%;
  background-repeat: no-repeat;
}

.gif-presentation-index {
  width: 250vw;
  height: auto;
}
/* ---------------- FIN PAGE INDEX --------------- */

/* ---------------- DÉBUT PAGE ACTUALITÉES --------------- */
.main-actualite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 45px;
}
hr {
  border: 0;
  height: 1px;
  width: 60%;
  background-color: white;
  box-shadow: 5px 5px 15px 5px white;
}

.container-vs-actualite {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0 50px;
}
@media (max-width: 1060px) {
  .container-vs-actualite {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container-vs-actualite > img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.sous-container-actualite {
  width: 400px;
  height: 400px;
  border: 3px solid red;
  border-radius: 50%;
  overflow: hidden;
}
.sous-container-actualite.red {
  border: 3px solid red;
  margin: 0 50px;
  box-shadow: -5px 5px 15px 5px red;
}
.sous-container-actualite.blue {
  border: 3px solid blue;
  margin: 0 50px;
  box-shadow: 5px 5px 15px 5px blue;
}
.sous-container-actualite-versus {
  /* background-color: blue; */
  width: 100%;
  height: auto;
  max-width: 5vw;
}
.img-actualite {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-actualite-centre {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-actualite-h3 {
  margin: 50px 0;
  width: 100%;
  height: auto;
  max-width: 50vw;
  font-size: 35px;
}
.main-actualite > p {
  width: 100%;
  height: auto;
  max-width: 50vw;
  margin-bottom: 30px;
  font-size: 20px;
}
/* ---------------- FIN PAGE ACTUALITÉES --------------- */

/* ---------------- DÉBUT PAGE ÉVÉNEMENTS --------------- */
.main-evenements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.main-evenements > p {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  max-width: 50vw;
  font-size: 20px;
  text-align: center;
}
.tableau-events {
  font-size: 23px;
  text-align: center;
}
table,
td,
th {
  border: 1px solid #333;
  border-radius: 20px;
  padding: 30px;
}
th {
  position: relative;
  z-index: 1;
}
th::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  filter: blur(7px);
  z-index: -1;
}
/* ---------------- FIN PAGE ÉVÉNEMENTS --------------- */

/* ---------------- DÉBUT PAGE PHOTOS & VIDÉOS --------------- */
.main-photos-videos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-photos-videos > h3 {
  margin: 100px 0 50px;
  margin: 50px 0;
  width: 100%;
  height: auto;
  max-width: 50vw;
  font-size: 35px;
}
.grid-photos {
  margin-bottom: 100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  width: 100%;
  height: auto;
  max-width: 1200px;
}
.grid-photos > .case {
  border-radius: 25px;
  padding: 10px;
}
.case > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 5px #ffffff2e;
  transition: transform 0.3s;
}
.case:hover img {
  transform: scale(2);
}
.grid-videos {
  margin-bottom: 100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  width: 100%;
  height: auto;
  max-width: 1400px;
}
.grid-videos > .case {
  /* background-color: blue; */
  padding: 10px;
}
.case > iframe {
  box-shadow: 5px 5px 15px 5px #ffffff2e;
  border-radius: 25px;
  aspect-ratio: 16/9;
}
/* ---------------- FIN PAGE PHOTOS & VIDÉOS --------------- */


body {
    background-color: black; /* Fond noir pour l'ensemble de la page */
    color: white; /* Texte blanc pour un contraste adéquat */
}

form {
    max-width: 400px; /* Largeur maximale du formulaire pour une lisibilité optimale */
    margin: 0 auto; /* Centrage horizontal du formulaire */
    padding: 20px; /* Espacement intérieur du formulaire */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Largeur pleine pour les champs de texte */
    padding: 10px; /* Espacement interne pour un confort visuel */
    margin-bottom: 10px; /* Espacement entre les champs */
    background-color: black; /* Fond noir pour les champs de texte */
    color: white; /* Texte blanc dans les champs de texte */
    border: 1px solid white; /* Bordure blanche autour des champs */
}

input[type="submit"] {
    width: 100%; /* Largeur pleine pour le bouton soumettre */
    padding: 10px; /* Espacement interne du bouton */
    background-color: white; /* Fond blanc pour le bouton */
    color: black; /* Texte noir sur le bouton */
    border: none; /* Pas de bordure pour le bouton */
    cursor: pointer; /* Curseur indiquant l'interaction */
}
